@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  --blue-color-light: hsl(200, 100%, 72%);
  --blue-color: hsl(200, 100%, 62%);
  --blue-color-dark: hsl(200, 99%, 36%);
  --font-barlow: "Barlow", sans-serif;
  --font-frances: "Frances", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-barlow);
  font-size: 1.8rem;
  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-bottom-smaller {
  margin-bottom: 1.2rem;
}

.margin-bottom-small {
  margin-bottom: 2.4rem;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem;
}

.margin-bottom-big {
  margin-bottom: 6.4rem;
}

.margin-bottom-bigger {
  margin-bottom: 8rem;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

/* /////////////////////////////////////////////////////////// */
/* REUSABLE */
.btn {
  border-radius: 32px;
  font-family: var(--font-frances);
  font-size: 1.6rem;
  padding: 1.8rem 2.8rem;
}

.btn:hover {
  background-color: var(--blue-color-light);
  color: #fff;
}

.btn-full {
  background-color: var(--blue-color-dark);
}

.btn-link {
  font-weight: 700;
  text-transform: uppercase;
}

/* /////////////////////////////////////////////////////////// */
/* HEADER */
header {
  align-items: center;
  background-color: var(--blue-color);
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 9.6rem;
}

.nav-list {
  align-items: center;
  flex-direction: row;
  gap: 4.8rem;
  justify-content: center;
  list-style: none;
}

.nav-list li {
  font-size: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--blue-color-dark);
}
