@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* TYPOGRAPHY */
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;

  /* COLORS */
  --blue-light: hsl(200, 100%, 72%);
  --blue: hsl(200, 100%, 62%);
  --blue-dark: hsl(198, 62%, 26%);
  --cyan-dark-dasturated: hsl(167, 40%, 24%);
  --cyan-dark-moderate: hsl(167, 44%, 70%);

  --neutral-blue-desaturated-darker: hsl(212, 27%, 19%);
  --neutral-blue-grayish-darker: hsl(213, 9%, 39%);
  --neutral-blue-grayish-dark: hsl(232, 10%, 55%);
  --neutral-blue-grayish: hsl(210, 4%, 67%);

  --red-soft: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--neutral-blue-grayish-dark);
  font-family: var(--font-barlow);
  font-size: 1.8rem;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.5;
}

.image {
  width: 100%;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

section:not(.hero-section) {
  margin: 0 auto;
  max-width: 150rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* /////////////////////////////////////////////////////////// */
/* REUSABLE */
.btn {
  border-radius: 32px;
  font-family: var(--font-fraunces);
  font-size: 1.6rem;
  padding: 1.8rem 2.8rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--blue-light);
  color: #fff;
}

.btn-full {
  background-color: #fff;
  color: var(--blue-dark);
}

.btn-link {
  font-weight: 700;
  text-transform: uppercase;
}

.heading-primary {
  color: #fff;
  font-family: var(--font-fraunces);
  font-size: 4.8rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: var(--font-fraunces);
}

.text-container {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12rem;
}

.text-container h2 {
  color: var(--neutral-blue-desaturated-darker);
}

.text-container a:link,
.text-container a:visited {
  color: var(--neutral-blue-desaturated-darker);
  font-family: var(--font-fraunces);
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
}

.text-container a::after {
  content: "";

  border-radius: 12px;
  border: 6px solid var(--yellow);
  color: var(--yellow);
  display: none;
  font-size: 1px;
  transition: all 0.3s;
  width: 12.8rem;
  z-index: -1;

  position: absolute;
  top: 60%;
  left: -5%;
}

.text-container a:hover:after {
  display: block;
}

/* /////////////////////////////////////////////////////////// */
/* HEADER */
header {
  align-items: center;
  background-color: var(--blue);
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;
}

.logo {
  font-size: 4.8rem;
}

.nav-list {
  align-items: center;
  flex-direction: row;
  gap: 4.8rem;
  justify-content: center;
  list-style: none;
}

.nav-list li {
  font-size: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--blue-dark);
}

/* MOBILE NAVIGATION */
.mobile-nav-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none;
  z-index: 999;
}

.mobile-nav-button span {
  font-size: 4.8rem;
}

.mobile-nav-button span[name="menu-icon"] {
  display: block;
}

.mobile-nav-button span[name="close-icon"] {
  display: none;
}

/* /////////////////////////////////////////////////////////// */
/* HERO */
.hero-section {
  align-items: center;
  background-color: var(--blue);
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero-section div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9;
}

.hero-section div h1 {
  font-weight: 900;
  letter-spacing: 5px;
}

.hero-icon {
  color: #fff;
  margin-top: 8rem;
}

.hero-section .image {
  width: 90%;
  z-index: 8;
}

/* /////////////////////////////////////////////////////////// */
/* TRANSFORM */
.transform-section div:nth-child(2) {
  background-color: var(--yellow);
}

/* /////////////////////////////////////////////////////////// */
/* STAND OUT */
.standout-section .image-container {
  background-color: var(--red-soft);
}
.standout-section .text-container a::after {
  border: 6px solid var(--red-soft);
  color: var(--red-soft);
}

/* /////////////////////////////////////////////////////////// */
/* GRAPHIC DESIGN */
.graphic-design {
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}

.graphic-design div {
  background-color: transparent;
  padding: 0 15.2rem;
  text-align: center;
  z-index: 9;

  position: absolute;
  top: 60%;
}

.graphic-design div h2 {
  color: var(--cyan-dark-dasturated);
  font-size: 3.2rem;
  font-weight: 900;
}

.graphic-design div p {
  color: var(--cyan-dark-dasturated);
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.8rem;
}

/* /////////////////////////////////////////////////////////// */
/* PHOTOGRAPHY */
.photography {
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}

.photography div {
  background-color: transparent;
  padding: 0 15.2rem;
  text-align: center;
  z-index: 9;

  position: absolute;
  top: 60%;
}

.photography div h2 {
  color: var(--blue-dark);
  font-size: 3.2rem;
  font-weight: 900;
}

.photography div p {
  color: var(--blue-dark);
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.8rem;
}

/* /////////////////////////////////////////////////////////// */
/* TESTIMONIALS */
.testimonials-section {
  text-align: center;
  padding: 14.4rem 0;
}

.testimonials-section h2 {
  font-size: 2.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.testimonials-section .grid {
  column-gap: 4.8rem;
  padding: 8rem;
}

.testimonial {
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: flex-start;
}

.testimonial .image {
  border-radius: 50%;
  width: 25%;
}

.testimonial p {
  color: var(--neutral-blue-grayish-darker);
  margin-top: 3.6rem;
}

.testimonial div {
  margin-top: 4.8rem;
}

.testimonial div strong {
  color: var(--neutral-blue-desaturated-darker);
  display: block;
  font-family: var(--font-fraunces);
  font-weight: 900;
}

.testimonial div span {
  display: block;
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

/* /////////////////////////////////////////////////////////// */
/* GALLERY */
.gallery-section {
  padding: 0;
}

/* /////////////////////////////////////////////////////////// */
/* FOOTER */
footer {
  align-items: center;
  background-color: var(--cyan-dark-moderate);
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  padding: 8rem 9.6rem;
}

footer .logo {
  fill: var(--cyan-dark-dasturated);
}

footer .nav-list {
  gap: 6.4rem;
}

footer .nav-link:link,
footer .nav-link:visited {
  color: var(--cyan-dark-dasturated);
  transition: all 0.2s;
}

footer .nav-link:hover,
footer .nav-link:active {
  color: #fff;
}

footer .socials {
  gap: 2.4rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

footer .social-icon {
  cursor: pointer;
}

footer .social-icon path {
  transition: all 0.2s;
}

footer .social-icon path:hover {
  fill: #fff;
}

.attribution {
  align-items: center;
  color: var(--cyan-dark-dasturated);
  display: flex;
  font-size: 1.2rem;
  gap: 1.2rem;
  justify-content: space-between;
  margin-top: 6.4rem;
}

.attribution a:link,
.attribution a:visited {
  color: inherit;
  transition: all 0.2s;
}

.attribution a:hover,
.attribution a:active {
  color: #fff;
}

/* /////////////////////////////////////////////////////////// */
/* MEDIA QUERIES */
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 965px) {
  .hero-icon {
    margin-top: 4.8rem;
  }

  .text-container {
    padding: 4.8rem 9.6rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 42.5%;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
  }

  .text-container {
    padding: 4.8rem 6.4rem;
  }

  .text-container p {
    font-size: 1.6rem;
  }

  .graphic-design div,
  .photography div {
    padding: 0 4.8rem;
  }
}

@media (max-width: 580px) {
  .hero-icon {
    margin-top: 1.2rem;
  }

  .text-container {
    gap: 2.4rem;
    padding: 4rem 6.4rem;
  }

  .text-container p {
    font-size: 1.4rem;
  }

  .testimonials-section .grid {
    column-gap: 2.4rem;
    padding: 8rem 4.8rem;
  }
}

@media (max-width: 528px) {
  .grid--4-cols,
  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .hero-section {
    padding-top: 6.4rem;
  }

  .hero-section .image {
    width: 100%;
  }

  .text-container {
    align-items: center;
    gap: 4.8rem;
    padding: 9.6rem;
  }

  .text-container p {
    font-size: 2.2rem;
    text-align: center;
  }

  .text-container a {
    font-size: 2.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .transform-section .image-container {
    grid-row: 1;
  }

  .graphic-design div,
  .photography div {
    padding: 4.8rem 12rem;
  }

  .graphic-design div p,
  .photography div p {
    font-size: 2rem;
  }

  .testimonials-section .grid {
    column-gap: 4.8rem;
    padding: 6.4rem;
  }

  .testimonial:not(:last-child) {
    margin-bottom: 4.8rem;
  }

  .gallery-section .image:last-child {
    grid-column: 1;
    grid-row: 2;
  }

  footer .nav-list {
    gap: 3.6rem;
  }

  footer .nav-link:link {
    font-size: 1.8rem;
  }

  .attribution {
    font-size: 1.6rem;
  }
}
