* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-bottom-smaller {
  margin-bottom: 1.2rem;
}

.margin-bottom-small {
  margin-bottom: 2.4rem;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem;
}

.margin-bottom-big {
  margin-bottom: 6.4rem;
}

.margin-bottom-bigger {
  margin-bottom: 8rem;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}
